@using UI.Infrastructure.Spotify
@inject SpotifyAuthSessionManager SpotifyAuthSessionManager

<div class="w-64 bg-[#1a2234]">
    <div class="px-3 py-4">
        <ul class="space-y-2 font-medium">
            <li>
                <NavLink class="flex items-center p-2 text-gray-400 rounded-lg hover:bg-gray-700 group"
                         href=""
                         Match="NavLinkMatch.All">
                    <svg class="w-5 h-5 text-gray-400 transition duration-75 group-hover:text-white"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor"
                         viewBox="0 0 20 20">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
                    </svg>
                    <span class="ms-3">
                        Home
                    </span>
                </NavLink>
            </li>
            <li>
                <NavLink class="flex items-center p-2 text-gray-400 rounded-lg hover:bg-gray-700 group"
                         href="playlists">
                    <svg class="w-5 h-5 text-gray-400 transition duration-75 group-hover:text-white"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor"
                         viewBox="0 0 20 20">
                        <path d="M18 3a1 1 0 00-1.196-.98l-10 2A1 1 0 006 5v9.114A4.369 4.369 0 005 14c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V7.82l8-1.6v5.894A4.37 4.37 0 0015 12c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V3z"/>
                    </svg>
                    <span class="ms-3">
                        My Playlists
                    </span>
                </NavLink>
            </li>
            @if (SpotifyAuthSessionManager.IsAuthenticated())
            {
                <li>
                    <a href="/spotify-auth"
                       class="flex items-center p-2 text-gray-400 rounded-lg hover:bg-gray-700 group">
                        <svg class="w-5 h-5 text-gray-400 transition duration-75 group-hover:text-white"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             viewBox="0 0 20 20">
                            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"/>
                        </svg>
                        <span class="ms-3">
                            Reconnect to Spotify
                        </span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

